{
  email {$ACME_EMAIL:admin@anonyfriday.io.vn}
  acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
  http_port 80
  https_port 443
}

# Template for adding additional services
# SERVICE_NAME.subdomain.domain.tld {
#     reverse_proxy localhost:PORT # OR http://127.0.0.1:HOST_PORT
# }

internal.anonyfriday.io.vn {
  reverse_proxy localhost:8002
}

portainer.internal.anonyfriday.io.vn {
  reverse_proxy localhost:8001
}

filebrowser.internal.anonyfriday.io.vn {
  reverse_proxy localhost:8003
}

it-tools.internal.anonyfriday.io.vn {
  reverse_proxy localhost:8004
}

tsdproxy.internal.anonyfriday.io.vn {
  reverse_proxy localhost:8000
}
